@font-face {
    font-family: 'Italianno';
    src: url('../fonts/Italianno-Regular.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact';
    src: url('../fonts/SFCompactDisplay-Bold.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'BigShoulders';
    src: url('../fonts/BigShoulders_Bold.woff2');
    font-display: swap;
}